<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlxp.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.mlxp.model.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="accountname" jdbcType="VARCHAR" property="accountname" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="lol" jdbcType="VARCHAR" property="lol" />
	</resultMap>
	<sql id="Base_Column_List">
		id, accountname, password, username, lol
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByAccountname" parameterType="string"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where accountname = #{accountname,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mlxp.model.User">
		insert into user (id, accountname, password,
		username, lol)
		values (#{id,jdbcType=INTEGER}, #{accountname,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR}, #{lol,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.mlxp.model.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="accountname != null">
				accountname,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="lol != null">
				lol,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="accountname != null">
				#{accountname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="lol != null">
				#{lol,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mlxp.model.User">
		update user
		<set>
			<if test="accountname != null">
				accountname = #{accountname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="lol != null">
				lol = #{lol,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mlxp.model.User">
		update user
		set accountname = #{accountname,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		username = #{username,jdbcType=VARCHAR},
		lol = #{lol,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>